/* App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #1e1e1e;
  color: #d4d4d4;
  margin: 0;
  padding: 0;
}

h2 {
  color: #9cdcfe;
  border-bottom: 2px solid #555;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: #569cd6;
}

a:hover {
  color: #83aaca;
}

button {
  background-color: #333;
  color: #d4d4d4;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #555;
}

.quote-generator {
  max-width: 800px;
  margin: 20px auto;
}

.quote-list {
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #d4d4d4;
  margin-right: 10px;
}

.quote {
  background-color: #252526;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1); 
  margin-bottom: 20px;
}

.quote p {
  font-size: 18px;
  font-style: italic;
  color: #bbb;
}

.quote-author {
  text-align: right;
  flex-grow: 1;
  margin-top: 10px;
  font-size: 14px;
  font-style: normal;
  color: #9cdcfe;
}

.button-and-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fancy-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.fancy-button:hover {
  background-color: #0056b3;
}

.home-container {
  padding: 20px;
}

.navigation-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
